<div class="ribbon ribbon-highlight">
  <ol class="breadcrumb ribbon-inner">
    <li><a href="/">Home</a></li>
    <li class="active">Foto de perfil</li>
  </ol>
</div>
<header class="page-header">
  <h1 class="page-title full-page-title">Recorta tu foto</h1>
</header>
<div class="col-md-12">
  <div id="photo_container" class="col-md-5 col-md-offset-3">
    <div id="container_image_url">
      <%= image_tag @user.photo_url(:large).to_s, id: "crop_user" %>
    </div>
  </div>
  <div class="col-md-3">
    <%= form_for @user do |f| %>
    <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>
    <div id="mini_photo">
      <%= image_tag @user.photo_url(:large).to_s, :id => "preview" %>
    </div>
    <h4>Así se verá tu foto</h4>
    <%= f.submit "Aceptar", :class => 'btn btn-default form-control' %>
  </div>
  <% end %>
</div>
<script>
var AvatarCropper,
  __bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

jQuery(function() {
  return new AvatarCropper();
});
AvatarCropper = (function() {
  function AvatarCropper() {
    this.updatePreview = __bind(this.updatePreview, this);
    this.update = __bind(this.update, this);
    $('#crop_user').Jcrop({
      aspectRatio: 1,
      setSelect: [0, 0, 300, 300],
      onSelect: this.update,
      onChange: this.update
    });
  }

  AvatarCropper.prototype.update = function(coords) {
    $('#user_crop_x').val(coords.x);
    $('#user_crop_y').val(coords.y);
    $('#user_crop_w').val(coords.w);
    $('#user_crop_h').val(coords.h);
    return this.updatePreview(coords);
  };

  AvatarCropper.prototype.updatePreview = function(coords) {
    return $('#preview').css({
      width: Math.round(100 / coords.w * $('#crop_user').width()) + 'px',
      height: Math.round(100 / coords.h * $('#crop_user').height()) + 'px',
      marginLeft: '-' + Math.round(100 / coords.w * coords.x) + 'px',
      marginTop: '-' + Math.round(100 / coords.h * coords.y) + 'px'
    });
  };

  return AvatarCropper;

})();

</script>