<% provide(:title, "#{@user.name}") %>
<div class="content bg-base section">
	<div class="ribbon ribbon-highlight">
		<ol class="breadcrumb ribbon-inner">
			<li><a href="#">Home</a></li>
			<li><a href="#">Features</a></li>
			<li class="active">Review Archive</li>
		</ol>
	</div>
	<%= head_title("Mi Perfil") %>
	<div class="row style-single">
		<nav class="col-sm-3 sidenav">
			<div class="panel-group" id="user_menu">
				<div class="panel panel-primary">
					<!-- init profile -->
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#user_profile">Perfil</a>
						</h4>
					</div>
					<div id="user_profile" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body">
							<ul class="nav">
								<li><a href="#info_user">Perfil</a></li>
								<li><%= link_to "Editar Perfil", edit_user_path(@user) %></li>
								<li><%= link_to "Cambiar contraseña", edit_password_reset_path(@user) %></li>
							</ul>
						</div>
					</div>
					<!-- end profile -->
					<!-- init courses -->
					<% if !@user.courses.empty? %>
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#users_courses">Cursos</a>
						</h4>
					</div>
					<div id="users_courses" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body">
							<ul class="nav">
								<% @user.courses.each do |course| %>
								<li><a href="#courses"><%= course.name %></a></li>
								<% end %>
							</ul>
						</div>
					</div>
					<% end %>
					<!-- end courses -->
					<!-- init payments -->
					<% if !@user.payments.empty? %>
					<div class="panel-heading">
						<h4 class="panel-title">
						<a href="#payments">Pagos</a>
						</h4>
					</div>
					<% end %>
					<!-- end payments -->
				</div>
			</div>
		</nav>
		<div class="col-sm-9 entry-content">
			<!--Grid-->
			<h2 id="info_user">Información de Usuario</h2>
			<div class="row">
				<div class="col-sm-2">
					<% if @user.photo_url.include?('/default/') %>
					<%= image_tag @user.photo_url.to_s, id: 'image_url' %>
					<% else %>
					<%= image_tag @user.photo_url(:thumb).to_s, :class => "profile_thumb" %>
					<% end %>
				</div>
				<div class="col-sm-10">
					<table class="table table-striped">
						<tbody>
							<tr>
								<td><strong>Nombre</strong></td>
								<td><strong>Email</strong></td>
								<td><strong>Cursos</strong></td>
								<td><strong>Pagos</strong></td>
							</tr>
							<tr>
								<td><%= @user.name %></td>
								<td><%= @user.email %></td>
								<td><%= @user.courses.count %></td>
								<td><%= @user.payments.count %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- courses container -->
			<% if !@user.courses.empty? %>
			<h2 id="courses">
			<%= link_to "Cursos", courses_path %>
			</h2>
			<div class="panel-group" id="courses_collapse">
				<div class="panel panel-primary">
					<% @user.courses.each do |course| %>
					<div class="panel-heading">
						<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#course_detail_<%= course.id %>">
							<%= course.name %>
						</a>
						</h4>
					</div>
					<div id="course_detail_<%= course.id %>" class="panel-collapse collapse" style="height: 0px;">
						<div class="panel-body">
							<div class="panel-group" id="course_collapse_<%= course.id %>">
								<div class="panel panel-primary">
									<% course.units.each do |unit| %>
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle animate_02" data-toggle="collapse" data-parent="#accordion" href="#unit_detail_<%= unit.id %>">
											<%= unit.title %>
										</a>
										</h4>
									</div>
									<div id="unit_detail_<%= unit.id %>" class="panel-collapse collapse" style="height: 0px;">
										<div class="panel-body">
											<% unit.lectures.each do |lecture| %>
											<p><a href="#"><%= lecture.name %></a></p>
											<% end %>
										</div>
									</div>
									<% end %>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
			<% end %>
			<!-- end courses container -->
			<!-- init payments -->
			<% if !@payments.empty? %>
			<div class="col-sm-12 entry-content">
				<!--Grid-->
				<h2 id="payments">
				<%= link_to "Pagos", user_payments_path(@user) %>
				<%= link_to "Nuevo Pago", new_user_payment_path(@user), :class => "btn btn-info right" %>
				</h2>
				<div class="row">
					<%= render 'payments/index' %>
				</div>
			</div>
			<% end %>
			<!-- end payments -->
		</div>
	</div>
</div>