<div class="row">
	<div class="col-md-3 col-md-offset-3">
		<%= simple_form_for @course do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.input :level, label: "Nivel", :include_blank => true, collection: [['Principiante','Principiante'],['Avanzado','Avanzado']] %>
		<p><%= f.input :name, label: "Nombre del curso" %></p>
		<% if params[:action]=='new' %>
			<p><%= f.submit "Crear Pago", class: "btn btn-default" %></p>
		<% else %>
			<p><%= f.submit "Guardar Pago", class: "btn btn-default" %></p>
		<% end %>
		<% end %>
	</div>
</div>