<% if @courses.empty? %>
	<p>- No hay grupos - </p>
<% else %>
	<table class="table table-striped tablesorter">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Nivel</th>
				<th>Editar</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<% @courses.each do |course| %>
				<tr>
					<td><%= link_to course.name, course_path(course) %></td>
					<td><%= link_to course.level, course_path(course) %></td>
					<td><%= link_to "Editar", edit_course_path(course), :class => "btn btn-info btn-xs" %></td>
					<td><%= link_to "Eliminar", course_path(course) , :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Estás seguro de borrar este curso?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= paginate @courses %>