<% object = object || @unit %>
<% index = index || (@course.units.count-1) %>
<div class="panel panel-primary panel_unit left relative panel_unit_<%= object.id %>" id="panel_unit_<%= object.position %>" data-position="<%= object.id %>">
	<div class="panel-heading relative <% if params[:action]!='show' %>unit_new<% end %>">
		<h4 class="panel-title">
			<div class="container_reorder_arrows absolute">
				<div class="absolute container_input_position">
					<input class="form-control input_position" placeholder="<%= object.position+1 %>" type="text" onkeyup="course_actions.keyUp(event);" data-id="<%= object.position %>">
				</div>
				<div class="arrow_asc absolute">
					<a href="javascript:void(0);" class="asc left icon icon-chevron-up" data-id="<%= object.position %>" data-position="<%= object.id %>" onClick="course_actions.reorder(event);"></a>
				</div>
				<div class="arrow_desc absolute">
					<a href="javascript:void(0);" class="left icon icon-chevron-down" data-id="<%= object.position %>" data-position="<%= object.id %>" onClick="course_actions.reorder(event);"></a>
				</div>
			</div>
			<div class="container_lecture_actions reorder_units absolute">
				<%= link_to unit_path(object) , :class => "btn link_icon right btn-xs btn-danger" do %>
					<i class="icon icon-remove"></i>Eliminar
				<% end %>
				<%= link_to unit_path(object) , :class => "btn link_icon right btn-xs btn-info" do %>
					<i class="icon icon-eye-open"></i>Ver
				<% end %>
			</div>
			<a class="accordion-toggle panel_title_lecture accordion accordion_unit" data-toggle="collapse" data-parent="#accordion" href="#unit_detail_<%= object.id %>" data-unit="<%= object.id %>" data-open="true">
				<%= object.title %>
			</a>
		</h4>
	</div>
	<div id="unit_detail_<%= object.id %>" class="panel-collapse collapse" style="height: 0px;">
		<div class="remove_preloader_content">
			<img src="/assets/preloader.GIF" alt="">
		</div>
	</div>
</div>