<% object = object || @unit %>
<% index = index || (@unit.course.units.count-1) %>
<div id="accordeon_unit_content">
	<div class="panel-body table-responsive">
		<a href="#" class="link_icon btn btn-default right">
			<i class="icon icon-list-ol"></i> Reordenar Clases
		</a>
		<button href="#" class="link_icon btn btn-default right" data-toggle="modal" data-target="#new_lecture_modal_<%= object.id %>">
		<i class="icon icon-file-alt"></i> Nueva Clase
		</button>
		<table class="table table-hover table-bordered tablesorter">
			<thead>
				<tr>
					<th>Posición</th>
					<th>Clase</th>
					<th class="aligncenter">Video</th>
					<th class="aligncenter">Editar</th>
					<th class="aligncenter">Borrar</th>
				</tr>
			</thead>
			<tbody id="container_lectures_unit_<%= object.id %>">
				<% object.lectures.order("position ASC").each_with_index do |lecture, index| %>
				<%= render "courses/plan", object: object, lecture: lecture, index: index %>
				<% end %>
			</tbody>
		</table>
	</div>
	<!-- new unit modal -->
	<div class="modal fade" id="new_lecture_modal_<%= object.id %>" tabindex="-1" role="dialog" aria-labelledby="newUnitLecture" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="newUnitLecture"><b>Unidad: <%= object.title %></b> | Nueva Clase</h4>
				</div>
				<%= form_tag({ :controller => :courses, :action => :plan }, { :remote => true, :id => "unit_#{object.id}_lectures_form" }) do %>
				<div class="modal-body">
					<div id="errors_lectures_unit_<%= object.id %>"></div>
					<%= number_field_tag "id", object.id, :hidden => true %>
					<p><%= text_field_tag "name", nil, :class => "form-control", placeholder: "Escribe el nombre de la nueva clase." %></p>
					<iframe width="100%" height="315" src="//www.youtube.com/embed/" frameborder="0" allowfullscreen id="video_url_<%= object.id %>"></iframe>
					<p><%= text_field_tag "video_url", nil, :class => "form-control", placeholder: "Url de video de clase.", :data => { :unit => object.id }, :onkeyup => "course_actions.load_video(event);" %></p>
					<p><%= text_area_tag "content", nil, :class => "form-control wysihtml5", placeholder: "Contenido de la clase." %></p>
				</div>
				<div class="modal-footer">
					<%= submit_tag "Crear Clase", :class => "btn btn-success" %>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<!-- end unit modal -->
</div>