<% if current_user.student? %>
<button class="btn btn-default right" data-toggle="modal" data-target="#new_delivery">
<i class="icon-cogs icon"></i>Entregar tarea modal
</button>
<%= link_to "Entregar tarea", new_unit_delivery_path(@unit), :class => "btn btn-default right" %>
<!-- deliveries modal -->
<!-- Modal -->
<div class="modal fade" id="new_delivery" tabindex="-1" role="dialog" aria-labelledby="newUnitDelivery" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="newUnitDelivery"><b><%= @unit.title %></b> | Nueva entrega</h4>
			</div>
			<%= simple_form_for @delivery, remote: true  do |d| %>
			<div class="modal-body" id="container_deliveries">
				<%= render 'deliveries/modal', object: d %>
				<div id="drop_zone">
					Arrastra tus documentos e imagenes
				</div>
				<input type="file" id="unit_attachments" name="unit_attachments" multiple="true" onChange="attachments.handleFileSelect(event);">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<%= d.submit "Guardar entrega", :class => "btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
<!-- deliveries modal -->
<% else %>
<% end %>