<div class="ribbon ribbon-highlight">
  <ol class="breadcrumb ribbon-inner">
    <li><a href="/">Administrador</a></li>
    <li><a href="3">Museo Amparo</a></li>
    <li><a href="3">Exposiciones</a></li>
    <li class="active">Nuevo</li>
  </ol>
</div>
<header class="page-header">
  <h1 class="page-title full-page-title"><b>Museo Amparo</b> | Nueva exposici贸n</h1>
</header>
<div class="col-md-8 col-md-offset-2">
  <%= simple_form_for @unit do |f| %>
  <p><%= f.input "title", as: "string", label: "Nombre de la exposici贸n" %>
  </p>
  <div id="container_image_url">
    <img src="/assets/default/user/default.png" id="image_url" alt="">
  </div>
  <div id="unit_photo_input" class="btn-default">
    <p><%= f.input :photo, as: "file", label:"Seleccionar foto de portada" %></p>
  </div>
  <div class="col-md-6" style="padding: 0;">
    <div class="selector_fecha">
      <%= f.input "date", as: "date", label: "Fecha de inicio", :order => [:day, :month, :year], :include_blank => true, :start_year => Date.today.year, :end_year =>Date.today.year-1, :input_html => { :class => 'date_selector' }  %>
    </div>
  </div>
  <div class="col-md-6" style="padding: 0;">
    <div class="selector_fecha">
      <%= f.input "date", as: "date", label: "Fecha final", :order => [:day, :month, :year], :include_blank => true, :start_year => Date.today.year, :end_year =>Date.today.year-1, :input_html => { :class => 'date_selector' }  %>
    </div>
  </div>
  <div class="selector_fecha">
    <p>
      <%= check_box_tag 'eula', 'accepted', false %>
      <%= label_tag :eula, 'Permanente?', :style => "display:inline;" %>
    </p>
  </div>
  <p><%= f.input "description", as: "text", label: "Descripci贸n", :input_html => { :class => "wysihtml5" }  %>
  </p>
  <p><%= f.submit "Crear Exposici贸n", class: "form-control btn btn-default" %></p>
  <% end %>
</div>