<h1 class="sr-only">Summarize</h1>
<nav id="header" class="header-navbar" role="navigation">
  <div class="header-navbar-inner container">
    <div id="brand" class="navbar-brand">
      <a href="/" rel="bookmark">
        <img src="/assets/light-logo.png" data-src="/assets/light-logo.png" data-src-retina="/assets/logo-retina.png" width="244" height="56" alt="">
        <noscript>
        <img src="/assets/light-logo.png" alt="">
        </noscript>
      </a>
    </div>
    <ul class="nav nav-pages hidden-xs">
      <li><a href="#">D0A3</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Términos &amp; Condiciones</a></li>
      <li><a href="#">Aviso de Privacidad</a></li>
      <% if !current_user %>
      <li><%= link_to "Iniciar Sesión", signin_path %></li>
      <% end %>
    </ul>
    
    <% if current_user %>
    <ul class="nav nav-icons">
      <li>
        <a class="accordion-toggle btn-icon" data-toggle="collapse" data-parent="#accordion" href="#container_sessions_actions">
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </li>
      <div id="container_sessions_actions" class="panel-collapse collapse right relative" style="height: 0px;">
        <ul>
          <%= link_to user_path(current_user) do %>
            <li>Mi perfil</li>
          <% end %>
          <%= link_to edit_user_path(current_user) do %>
            <li>Editar perfil</li>
          <% end %>
          <%= link_to edit_password_reset_path(current_user) do %>
            <li>Cambiar contraseña</li>
          <% end %>
          <%= link_to signout_path, :method => "delete" do %><li>Cerrar Sesión</li><% end %>
        </ul>
      </div>
    </ul>
    <% end %>
    <ul class="nav nav-icons">
      <li>
        <a href="#" class="btn-icon" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in">
          <span class="search-toggled-out-icon glyphicon glyphicon-search"></span>
          <span class="search-toggled-in-icon glyphicon glyphicon-remove"></span>
        </a>
      </li>
    </ul>
    <div class="search-wrapper js-stoppropagation">
      <div class="search-wrapper-inner">
        <form>
          <input type="text" value="" placeholder="Buscar ... ">
          <button class="btn-icon" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
    </div>
  </div>
</nav>